---
layout: default
title: Experiments
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <h3>
        {{ post.title }}
      </h3>
      <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
      <p>{{ post.description }}</p>
      {% if post.tags %}
      <div class="tags">
        {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
      {% if post.report_link %}
      <a href="{{ post.report_link }}" class="view-report">View Report</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div> 
<footer class="site-footer">
  <div class="footer-links">
    <p>
      Powered by <a href="https://gradle.com/develocity" target="_blank">Develocity</a> | 
      <a href="https://github.com/cdsap/Telltale" target="_blank">Telltale</a>
    </p>
  </div>
</footer>