{{- define "main" }}

{{- if (and .Title (ne .Title "Posts")) }}
<header class="page-header">
  
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

<div class="posts">
  {{ $pages := $pages.ByDate.Reverse }}
  {{ $pages := sort $pages "File.BaseFileName" "desc" }}
  {{ range $pages }}
  <article class="post-entry">
    <header class="entry-header">
      <h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>
    <div class="entry-content">
      {{- if .Params.summary }}
      <p>{{ .Params.summary | markdownify | safeHTML }}</p>
      {{- else }}
      <p>{{ .Summary | safeHTML }}</p>
      {{- end }}
    </div>
    <div class="entry-footer">
      {{- if .Params.tags }}
      <div class="entry-tags">
        {{- range .Params.tags }}
        <a href="{{ "tags/" | absURL }}{{ . | lower | urlize }}" class="entry-tag">#{{ . }}</a>
        {{- end }}
      </div>
      {{- end }}
      <time class="entry-date">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
  </article>
  {{ end }}
</div>

{{- end }}{{/* end main */}}