{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify | safeJS }},
  "url": {{ site.Home.Permalink | jsonify | safeJS }},
  "description": {{ site.Params.description | jsonify | safeJS }}
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}
{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}
    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index }},
      "name": {{ $bc_pg.Name | jsonify | safeJS }},
      "item": {{ $bc_pg.Permalink | jsonify | safeJS }}
    }
    {{- end }}
  {{- end }}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name | jsonify | safeJS }},
      "item": {{ .Permalink | jsonify | safeJS }}
    }
  ]
}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": {{ .Title | plainify | jsonify | safeJS }},
  "name": {{ .Title | plainify | jsonify | safeJS }},
  {{- $rawDesc := (.Params.summary | default (.Summary | plainify)) | plainify }}
  "description": {{ trim $rawDesc " \n" | truncate 300 | jsonify | safeJS }},
  "keywords": {{ .Params.tags | default slice | jsonify | safeJS }},
  "wordCount": {{ .WordCount }},
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify | safeJS }},
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | jsonify | safeJS }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify | safeJS }},
  "author": {
    "@type": "Organization",
    "name": "Telltale",
    "url": "https://github.com/cdsap/Telltale"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify | safeJS }}
  }
  {{- with .Params.report_link }},
  "associatedMedia": {
    "@type": "DataDownload",
    "contentUrl": {{ . | absURL | jsonify | safeJS }},
    "encodingFormat": "text/html",
    "name": "Interactive Experiment Report"
  }
  {{- end }}
}
</script>
{{- end }}
{{- end -}}
